@import "tailwindcss";
@import 'bootstrap/dist/css/bootstrap.css';





.custom-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}
.custom-scrollbar::-webkit-scrollbar {
  display: none; 
}
